html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

*:focus {
    outline: none;
}

body {
    background-color: rgb(54, 57, 64);
}

p {
    color: #dbdbdb;
    font-size: 29px;
    font-weight: lighter;
    letter-spacing: 2.5px;
    word-spacing: 10px;
    line-height: 60px;
    text-align: justify;
}

form span {
    opacity: 0;
    color: rgb(255, 64, 64);
    font-weight: bolder;
    text-transform: capitalize;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    margin-right: 35px;
    margin-left: 35px;
    justify-items: center;
    align-items: center;
}

.grid-item {
    display: block;
}


/* modal pop-up */

#pop-up {
    visibility: hidden;
    opacity: 0;
    transition: visibility .15s, opacity 0.20s linear;
}

#pop-up-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(153, 153, 153, 0.308);
}

#window {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid rgba(153, 153, 153);
    transition: top .2s linear;
}

#window p {
    font-size: 20px;
    color: inherit;
    font-weight: inherit;
    letter-spacing: 2px;
    word-spacing: 7px;
    text-align: center;
    padding: 20px;
}

#window button {
    display: block;
    text-align: right;
    margin: 5px 0px -25px;
    width: 100%;
    direction: rtl;
    font-size: 22px;
    font-family: Verdana;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#window button:hover {
    text-decoration: underline;
}

#submitButton{
    margin-left: 60px;
    margin-top: 15px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 2px 6px 0 rgb(0 0 0);
    font-weight: bolder;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}
#submitButton:hover{
    transform: scale(1.04);
    box-shadow: 0 4px 12px 0 rgb(0 0 0);
}

#result {
    line-height: 45px;
    font-size: 30px;
}

.result-div{
    padding-bottom:5px ;
}

.leap {
    position: absolute;
    top: 30%;
    transform: translate(-45%, -80%);
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(37, 158, 63);
    opacity: .4;
    transition: all .4s ease-in-out;
}

.leap:hover {
    opacity: 1;
}

#smile{
    position: absolute;
    top: 2%;
    right: 2%;
    font-family: none;
    font-weight: bold;
    font-size: 25px;
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url(../font/Montserrat.woff2) format('woff2');
}

@media only screen and (max-width: 1700px) {
    #result {
        font-size: 25px;
    }
    .leap {
        width: 25px;
        height: 25px;
    }
}