@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
html, body, h1 {
  margin: 0;
}

/* Glitch from https://csspoint101.com/45-css-glitch-effect/ Effect-11 a little bit motified */

#wrapper {
  text-align: center;
}

.glitch {
  position: relative;
  color: white;
  font-size: 105px;
  letter-spacing: 10px;
  animation: glitch-skew 1.5s infinite linear alternate-reverse;
}
@media only screen and (max-width: 1700px) {
  .glitch {
      font-size: 85px;
  }
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #96a2ca;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #ff00d4, 2px 2px #96a2ca;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(31px, 9999px, 30px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  5% {
    clip: rect(50px, 9999px, 53px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  10% {
    clip: rect(16px, 9999px, 2px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  15% {
    clip: rect(47px, 9999px, 97px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  20% {
    clip: rect(58px, 9999px, 25px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  25% {
    clip: rect(8px, 9999px, 65px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  30% {
    clip: rect(90px, 9999px, 90px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
  35% {
    clip: rect(38px, 9999px, 90px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  40% {
    clip: rect(1px, 9999px, 94px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  45% {
    clip: rect(83px, 9999px, 71px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  50% {
    clip: rect(81px, 9999px, 60px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  55% {
    clip: rect(88px, 9999px, 82px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  60% {
    clip: rect(12px, 9999px, 16px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  65% {
    clip: rect(70px, 9999px, 43px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  70% {
    clip: rect(7px, 9999px, 52px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  75% {
    clip: rect(56px, 9999px, 42px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  80% {
    clip: rect(51px, 9999px, 79px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  85% {
    clip: rect(13px, 9999px, 91px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  90% {
    clip: rect(77px, 9999px, 31px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  95% {
    clip: rect(4px, 9999px, 26px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  100% {
    clip: rect(80px, 9999px, 39px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(31px, 9999px, 30px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  5% {
    clip: rect(50px, 9999px, 53px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  10% {
    clip: rect(16px, 9999px, 2px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  15% {
    clip: rect(47px, 9999px, 97px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  20% {
    clip: rect(58px, 9999px, 25px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  25% {
    clip: rect(8px, 9999px, 65px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  30% {
    clip: rect(90px, 9999px, 90px, 0);
    -webkit-transform: skew(0.23deg);
            transform: skew(0.23deg);
  }
  35% {
    clip: rect(38px, 9999px, 90px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  40% {
    clip: rect(1px, 9999px, 94px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  45% {
    clip: rect(83px, 9999px, 71px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  50% {
    clip: rect(81px, 9999px, 60px, 0);
    -webkit-transform: skew(0.06deg);
            transform: skew(0.06deg);
  }
  55% {
    clip: rect(88px, 9999px, 82px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  60% {
    clip: rect(12px, 9999px, 16px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  65% {
    clip: rect(70px, 9999px, 43px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  70% {
    clip: rect(7px, 9999px, 52px, 0);
    -webkit-transform: skew(0.65deg);
            transform: skew(0.65deg);
  }
  75% {
    clip: rect(56px, 9999px, 42px, 0);
    -webkit-transform: skew(0.31deg);
            transform: skew(0.31deg);
  }
  80% {
    clip: rect(51px, 9999px, 79px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  85% {
    clip: rect(13px, 9999px, 91px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  90% {
    clip: rect(77px, 9999px, 31px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  95% {
    clip: rect(4px, 9999px, 26px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  100% {
    clip: rect(80px, 9999px, 39px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(85px, 9999px, 21px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  5% {
    clip: rect(65px, 9999px, 27px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  10% {
    clip: rect(53px, 9999px, 89px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  15% {
    clip: rect(90px, 9999px, 88px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  20% {
    clip: rect(51px, 9999px, 80px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  25% {
    clip: rect(89px, 9999px, 87px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  30% {
    clip: rect(13px, 9999px, 33px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  35% {
    clip: rect(31px, 9999px, 77px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  40% {
    clip: rect(66px, 9999px, 38px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  45% {
    clip: rect(82px, 9999px, 7px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  50% {
    clip: rect(15px, 9999px, 45px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  55% {
    clip: rect(43px, 9999px, 74px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  60% {
    clip: rect(47px, 9999px, 54px, 0);
    -webkit-transform: skew(0.22deg);
            transform: skew(0.22deg);
  }
  65% {
    clip: rect(59px, 9999px, 49px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  70% {
    clip: rect(41px, 9999px, 37px, 0);
    -webkit-transform: skew(0.66deg);
            transform: skew(0.66deg);
  }
  75% {
    clip: rect(39px, 9999px, 12px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  80% {
    clip: rect(55px, 9999px, 57px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  85% {
    clip: rect(15px, 9999px, 73px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  90% {
    clip: rect(72px, 9999px, 55px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  95% {
    clip: rect(91px, 9999px, 61px, 0);
    -webkit-transform: skew(0.97deg);
            transform: skew(0.97deg);
  }
  100% {
    clip: rect(72px, 9999px, 91px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(85px, 9999px, 21px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  5% {
    clip: rect(65px, 9999px, 27px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  10% {
    clip: rect(53px, 9999px, 89px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  15% {
    clip: rect(90px, 9999px, 88px, 0);
    -webkit-transform: skew(0.92deg);
            transform: skew(0.92deg);
  }
  20% {
    clip: rect(51px, 9999px, 80px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  25% {
    clip: rect(89px, 9999px, 87px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  30% {
    clip: rect(13px, 9999px, 33px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  35% {
    clip: rect(31px, 9999px, 77px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  40% {
    clip: rect(66px, 9999px, 38px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  45% {
    clip: rect(82px, 9999px, 7px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  50% {
    clip: rect(15px, 9999px, 45px, 0);
    -webkit-transform: skew(0.12deg);
            transform: skew(0.12deg);
  }
  55% {
    clip: rect(43px, 9999px, 74px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  60% {
    clip: rect(47px, 9999px, 54px, 0);
    -webkit-transform: skew(0.22deg);
            transform: skew(0.22deg);
  }
  65% {
    clip: rect(59px, 9999px, 49px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  70% {
    clip: rect(41px, 9999px, 37px, 0);
    -webkit-transform: skew(0.66deg);
            transform: skew(0.66deg);
  }
  75% {
    clip: rect(39px, 9999px, 12px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  80% {
    clip: rect(55px, 9999px, 57px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  85% {
    clip: rect(15px, 9999px, 73px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  90% {
    clip: rect(72px, 9999px, 55px, 0);
    -webkit-transform: skew(0.96deg);
            transform: skew(0.96deg);
  }
  95% {
    clip: rect(91px, 9999px, 61px, 0);
    -webkit-transform: skew(0.97deg);
            transform: skew(0.97deg);
  }
  100% {
    clip: rect(72px, 9999px, 91px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  10% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  20% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  30% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  40% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  50% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  60% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  70% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  80% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  90% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  10% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  20% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  30% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  40% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  50% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  60% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  70% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  80% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  90% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}
