.title  {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-family: 'evolve';
    font-weight: 100;
    font-size: 60px;
    letter-spacing: 4px;
}

.grid-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    gap: 30px;
    justify-content: center;
    max-width: 1800px;
    width: 95%;
    height: auto;
    margin: 30px auto;
}

.grid-item {
    display: grid;
}

.overview img {
    border-radius: 50px;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
    cursor: default;
    transition: all .2s ease-in-out;
    width: 370px;
    height: 112px;
}

.overview :hover {
    transform: scale(1.02);
}

@media only screen and (max-width: 1700px) {
    .grid-container {
    grid-template-columns: repeat(auto-fill, 370px);
    }

  }